@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  body {
    @apply mx-auto max-w-screen-xl;
    @apply flex h-screen flex-col;
    @apply text-pretty font-system;
    @apply bg-svg-background heropattern-topography-gray-300;
  }

  header {
    @apply sticky top-0 mb-1 flex justify-center p-1;
    @apply bg-svg-background heropattern-topography-gray-300;
  }

  footer {
    @apply sticky bottom-0 bg-bg-footer heropattern-topography-white/10;
  }

  h1 {
    @apply text-lg font-bold text-teal-800 md:text-3xl xl:text-4xl;
  }

  h2 {
    @apply text-lg md:text-3xl xl:text-3xl;
  }

  h3,
  h4,
  h5,
  h6 {
    @apply text-base md:text-2xl;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply py-2 font-bold text-teal-800;
  }

  main {
    @apply p-2 md:p-5;
  }

  aside {
    @apply p-2 2xl:p-5;
  }

  li,
  a {
    @apply break-words text-inherit;
  }

  a {
    @apply inline-block py-2 underline;
  }

  a:hover {
    @apply underline-offset-4;
  }

  a:focus {
    @apply underline-offset-4;
  }

  a:active {
    @apply underline-offset-4;
  }

  p {
    @apply my-1;
  }

  input {
    @apply block w-28 rounded-md border border-gray-300 text-right placeholder-gray-400 shadow-sm focus:border-teal-500 focus:outline-none focus:ring-blue-500;
  }
}

@layer components {
  aside,
  main {
    @apply bg-svg-background bg-opacity-60;
  }

  form {
    /*@apply bg-svg-background bg-opacity-60;*/
  }

  article {
  }
}

@layer utilities {
  .btnrechnen {
    @apply bg-red-800 hover:bg-red-500 active:bg-red-600;
    @apply focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-opacity-50;
    @apply w-48 rounded px-2 py-1 font-bold text-white sm:min-w-48;
  }

  .footerLink {
    @apply text-white underline transition-colors hover:text-gray-300 active:text-gray-500;
  }

  .menuLink {
    @apply text-teal-800 hover:text-teal-500 focus:text-teal-500;
  }

  .mainBorder {
    @apply rounded-lg border-2 border-gray-400;
  }

  .grid-form {
    @apply mx-auto mb-5 grid grid-cols-3 gap-1 rounded-lg p-1 shadow-xl sm:text-xl md:p-5;
  }
  .inputText {
    @apply font-semibold text-pink-500;
  }
}
