@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  body {
    @apply mx-auto max-w-screen-xl;
    /*@apply text-xl;*/
    @apply flex flex-col md:grid md:grid-cols-12 md:gap-1 md:min-h-dvh md:grid-rows-[auto,1fr,auto] lg:gap-2 xl:gap-3 2xl:gap-4;
    @apply font-system text-pretty;
  }

  header {
    @apply mb-1 flex items-center justify-between gap-4 p-2 md:p-4 md:justify-center;
  }

  h1 {
    @apply text-lg font-bold text-teal-800 md:text-3xl xl:text-4xl;
  }

  h2 {
    @apply text-lg md:text-3xl xl:text-3xl;
  }

  h3,
  h4,
  h5,
  h6 {
    @apply text-base md:text-2xl;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-teal-800 py-2 font-bold;
  }

  main {
    @apply p-2 md:p-5;
  }

  aside {
    @apply p-2 2xl:p-5;
  }

  li,
  a {
    @apply break-words text-inherit;
  }

  a {
    @apply underline py-2 inline-block;
  }

  a:hover {
    @apply underline-offset-4;
  }

  a:focus {
    @apply underline-offset-4;
  }

  a:active {
    @apply underline-offset-4;
  }

  footer {
    @apply p-0.5;
  }

  p {
    @apply my-1;
  }

  form {
    /*@apply grid grid-cols-3 gap-1 mx-auto mb-5 p-1 md:p-5 rounded-lg shadow-xl sm:text-xl;*/
  }

  input {
    @apply text-right w-28 block border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-teal-500;
  }
}

@layer components {
  /*bg with svg*/
  body {
    @apply bg-repeat w-full h-full;
    /*@apply heropattern-graphpaper-gray-300;*/
    @apply bg-svg-background heropattern-topography-gray-300;
    /*@apply heropattern-overlappingdiamonds-gray-300;*/
  }

  aside,
  main {
    @apply bg-svg-background bg-opacity-60;
  }

  footer {
    @apply bg-bg-footer heropattern-topography-white/10;
  }

  form {
    /*@apply bg-svg-background bg-opacity-60;*/
  }

  article {
  }
}

@layer utilities {
  .btnrechnen {
    @apply bg-red-800 hover:bg-red-500 active:bg-red-600;
    @apply focus:ring-red-600 focus:outline-none focus:ring-2 focus:ring-opacity-50;
    @apply text-white font-bold py-1 px-2 rounded sm:min-w-48 w-48;
  }

  .footerLink {
    @apply text-white underline transition-colors hover:text-gray-300 active:text-gray-500;
  }

  .menuLink {
    @apply text-teal-800 hover:text-teal-500 focus:text-teal-500;
  }

  .mainBorder {
    @apply rounded-lg border-2 border-gray-400;
  }

  .grid-form {
    @apply grid grid-cols-3 gap-1 mx-auto mb-5 p-1 md:p-5 rounded-lg shadow-xl sm:text-xl;
  }
}
